
/*background-image: url('/images/wood_img.jpg');

body, html {
  height: 100% !important;
}
.bg {
  background-image: url('/images/wood_img.jpg') !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

p, a, Nav {
  font-size: 18px;
  font-family: monospace;
  display: block;
  justify-content: center;
  align-items: center;
}

.container {
  color: black;
  background-color: black;
  height: 100vh;
  display: inline-flex;
  position: static;
}

.backgroundImage{
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content{
  z-index: 10;
}
